---
---
<nav>
	<a href="/" class="u-uid">
		<img src="/frieren.webp" alt="Profile Picture" class="profile-pic" />
		<span style="color:var(--accent); font-family: serif; font-weight: bold;">ProJustitia</span>
	</a>
	<div style="font-size: 0.8rem; opacity: 0.7;">
		[ Firman ]
	</div>
</nav>
